:root {
    --primary: #273786;
    --secondary: #3B86B4;
    --uiprimary: #00722A;
    --uisecondary: #4C8140;
    --resumecolor: #043382;
}

* {
    color: white;
    margin: 0;
}

body {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-index,
.hero-aboutme,
.hero-portfolio,
.hero-contact {
    width: 100vw;
    height: 450px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--uiprimary);
    text-decoration: none;
    height: 6vh;
    width: 120px;
}

a:hover {
    background-color: var(--uisecondary);
    transition: 0.2s ease;
    scale: 1.1;
}

p {
    font-size: x-large;
    z-index: 1;
}

strong:first-child {
    color: white;
}

.nav-bar {
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    padding: 15px;
    width: 100vw;
}

.welcomelink,
.aboutmelink,
.portfoliolink,
.resumelink,
.timelinelink,
.contactlink {
    margin-top: 5px;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25vh;
}

.indexcardcontainer,
.aboutmecardcontainer {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
}

.aboutmecard,
.portfoliocard,
.resumecard,
.timelinecard,
.contactcard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    width: 45vw;
    height: min-content;
    padding: 20px;
    margin: 5px;
}

.summary {
    background-color: var(--primary);
    width: 30vw;
    margin: 40px;
}

.yearplans,
.achievements,
.reflection,
.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    margin: 5px;
    width: 50vw;
    justify-content: space-around;
    padding: 10px;
}

.hobbies {
    align-self: flex-start;
}

h1 {
    text-align: center;
}

.welcome,
.quote,
.casestudydesc,
.thanks {
    width: 500px;
}

.portfoliosubsection {
    margin: 20px;
}

.bioshield,
.pawpal,
.eecu,
.enrichment-essay,
.attention-essay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 40vw;
    background-color: var(--primary);
    padding: 10px
}

.codingcardcontainer {
    width: 85vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.eecu {
    align-self: center;
}

.bioshieldproject,
.pawpalproject,
.eecuproject {
    margin: 30px;
}

.bioshieldwebsite,
.pawpalwebsite,
.eecuwebsite {
    height: 55vh;
    width: 40vw;
}

.essaycardcontainer {
    display: flex;
    justify-content: space-around;
    width: 85vw;
}

.enrichment-essay,
.attention-essay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: min-content;
    padding: 30px;
}

.treeimg,
.mirrorimg,
.trophyimg,
.blueprintimg {
    width: 15vw;
}

.contactmethods {
    background-color: var(--primary);
    width: 60vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 30px;
    margin: 20px;
}

a.facebook,
a.instagram,
a.linkedin {
    display: inline-block;
    text-decoration: underline;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0);
}

a.facebook {
    width: 50vw;
}

a.facebook:hover,
a.instagram:hover,
a.linkedin:hover {
    scale: 1.0
}

.contacttitle {
    align-self: center;
}

.resumesummary {
    width: 30vw;
}

#resume {
    display: none;
    background-color: white;
    height: 95vh;
}

button {
    background-color: var(--uiprimary);
    border: 0px;
    border-radius: 40px;
    font-size: xx-large;
    padding: 20px;
    margin: 30px;
}

#showresume {
    margin-right: 2.5vw;
}

#closeresume {
    margin-left: 2.5vw;
}

.resumeheader {
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
    padding: 10px;
    background-color: var(--resumecolor)
}

.resume-title {
    background-color: var(--resumecolor);
    width: max-content;
    padding: 10px;
    border-radius: 14px;
    font-size: x-large;
}

.webdesignersummary,
ul,
li,
strong {
    color: black;
}

.professionalsummary {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 10px;
}

.resumecontact {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 30vw;
}

a.github,
a.resumelinkedin {
    color: rgb(0, 106, 177);
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0);
    width: 12vw;
}

a.github:hover,
a.resumelinkedin:hover {
    scale: 1.0;
}

.summarycontact {
    display: flex;
    justify-content: space-around;
}

.projects {
    height: 400px;
}

.projectskills {
    display: flex;
    justify-content: space-around;
    height: 30vh;
}

.skillsettechnical,
.skillsetsocial,
.bioshieldoverview,
.pawpaloverview,
.zoologixoverview,
.zengardenoverview {
    color: black;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    height: 100px;
}

p.eventdesc,
h3.eventdate {
    color: black;
}

#showresume,
#closeresume {
    cursor: pointer;
}

/*timeline section*/

.timelinecontainer {
    width: 800px;
}

.timelinecontainer::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 1400px;
    background-color: white;
    top: 235px;
    left: 50%;
    margin-right: 2px;
    border-radius: 2px;
}

.event {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}

.event:nth-child(even) {
    left: 0;
}

.event:nth-child(odd) {
    left: 55%;
}

.event h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.timelineimg {
    position: absolute;
    width: 75px;
    height: 75px;
    right: -53px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    z-index: 1;
    padding: 5px;
}

.event:nth-child(odd) .timelineimg {
    right: 97%;
}

.eventdesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 2px;
    background-repeat: no-repeat;
    margin: 20px;
    margin-left: 15px;
    width: fit-content;
    height: max-content;
}

#bioshieldevent:after,
#EECUevent:after {
    content: '';
    position: absolute;
    width: 90px;
    height: 20px;
    top: 130px;
    z-index: -1;
    background-color: white;
    left: 80%;
    border-radius: 2px;
}

#beginjourney:after,
#pawpalevent:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 20px;
    top: 130px;
    z-index: -1;
    background-color: white;
    left: 0%;
    border-radius: 2px;
}

#controllerevent:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 20px;
    top: 270px;
    z-index: -1;
    background-color: white;
    left: 0%;
    border-radius: 2px;
}

#owl {
    top: 140px;
}